@{
	ViewData["Title"] = "Listagem de Produtos";
}

<div>
    <a type="button" class="btn btn-success" role="button" asp-asp-controller="Produto" asp-action="Criar">Adicionar Novo Produto</a>
</div>
<h3 class="display-4">Listagem de Produtos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Foto</th>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Código de Barras</th>
            <th scope="col">Data de Validade</th>
            <th scope="col">Data de Registro</th>
            <th scope="col">Valor Unitario</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Situação</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>teste</td> 
            <td>Mark</td>
            <td>Otto</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
        </tr>
       
    </tbody>
</table>